@import "reset";
@import "shared/styles/variables/global";
@import "shared/styles/themes/dark";
@import "shared/styles/themes/light";
@import "shared/styles/themes/green";

.app,
.appModal {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.center {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}
