@import "reset";
@import "shared/styles/variables/global.scss";
@import "shared/styles/themes/dark.scss";
@import "shared/styles/themes/light.scss";

.app {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}