.primary {
    .title {
        color: var(--primary-color);
    }

    .text {
        color: var(--primary-color);
    }
}

.error {
    .title {
        color: var(--error-color);
    }

    .text {
        color: var(--error-color-dark);
    }
}

.inverted {
    .title {
        color: var(--inverted-primary-color);
    }

    .text {
        color: var(--inverted-primary-color);
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.l {
    .title {
        font: var(--font-l);
    }

    .text {
        font: var(--font-m);
    }
}

.xl {
    .title {
        font: var(--font-xl);
    }

    .text {
        font: var(--font-l);
    }
}
