.sidebar {
    position: relative;
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background: var(--inverted-bg-color);
    transition: width 0.3s;
}

.switchers {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.buttonCollapse {
    position: absolute;
    right: -40px;
    bottom: 40px;
}

.items {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    fill: var(--inverted-primary-color);
    width: 20px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        gap: 0;
    }

    .item span {
        opacity: 0;
        width: 0;
        transition: opacity 0.3s;
    }

    .items {
        margin-left: 0;
    }

    .icon {
        width: 30px;
        margin: 0 auto;
    }
}
