.views {
    display: flex;
    align-items: center;
    gap: 5px;
}

.SMALL,
.ROW {
    transition: all 0.2s;
    cursor: pointer;

    .date {
        position: absolute;
        top: 0;
        right: 10px;
        display: none;
    }

    &:hover {
        opacity: 0.8;
        transform: scale(1.02);

        .date {
            display: block;
        }
    }

    .imgWrapper {
        height: 200px;
        position: relative;
    }

    .img {
        width: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    .infoWrapper {
        margin-top: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .types p {
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .title p {
        margin-top: 8px;
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.BIG {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .user {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .title {
        margin-top: 8px;
    }

    .img {
        margin: 16px;
        width: 100%;
        max-height: 350px;
        object-fit: cover;
        transition: all 0.2s;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
            transform: scale(1.01);
        }
    }

    .textBlock {
        max-height: 210px;
        overflow-y: hidden;
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
