.menu {
    position: absolute;
    z-index: 10;
    overflow: hidden;
    background: var(--card-bg);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}

.item {
    padding: 10px 20px;
    background: var(--card-bg);
    color: var(--primary-color);
    border: none;
    cursor: pointer;
}

.active {
    background: var(--inverted-primary-color);
}
