.popup {
    position: relative;
}

.trigger {
    background: none;
    outline-style: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin: 0;
    color: var(--primary-color);
}

.top_left {
    bottom: 100%;
    left: 0;
}

.top_right {
    bottom: 100%;
    right: 0;
}

.bottom_left {
    top: 100%;
    left: 0;
}

.bottom_right {
    top: 100%;
    right: 0;
}
