.app_green_theme {
    --bg-color: #f4fbf4;
    --primary-color: #32411b;
    --secondary-color: #049604;
    --inverted-bg-color: #2a5e26;
    --inverted-primary-color: #f4fbf4;
    --inverted-secondary-color: #2a5e26;

    // skeletons
    --skeleton-color: #fff;
    --skeleton-shadow: #c7c7c7;

    // code
    --code-bg-color: #fff;

    // card
    --card-bg: #dbe2db;
}
