:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090949;
    --primary-color: #0232c2;
    --secondary-color: #0449e0;
    --inverted-primary-color: #04ff04;
    --inverted-secondary-color: #049604;

    // skeletons
    --skeleton-color: #fff;
    --skeleton-shadow: #c7c7c7;

    // code
    --code-bg-color: #fff;

    // card
    --card-bg: #d9d9d9;
}
