.listBox {
    position: relative;
}

.disabled {
    opacity: 0.6;
}

.trigger {
    padding: 0;
    margin: 0;
    background: none;
    outline-style: none;
    border: none;
}

.options {
    position: absolute;
    z-index: 10;
    background: var(--card-bg);
}

.top_left {
    bottom: 100%;
    left: 0;
}

.top_right {
    bottom: 100%;
    right: 0;
}

.bottom_left {
    top: 100%;
    left: 0;
}

.bottom_right {
    top: 100%;
    right: 0;
}

.leave {
    transition: all 0.3s;
}

.leaveFrom {
    opacity: 1;
}

.leaveTo {
    opacity: 0;
}

.option {
    cursor: pointer;
    padding: 5px 10px 5px 40px;
}

.optionWrapper {
    position: relative;
}

.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
}

.chevron {
    transition: all 0.2s;
}

.iconRotated {
    transform: rotate(180deg);
}

.active {
    background: var(--inverted-primary-color);
}
