.primary {
    fill: var(--primary-color);
    stroke: var(--primary-color);
}

.inverted {
    fill: var(--inverted-primary-color);
    stroke: var(--inverted-primary-color);
}

.s {
    width: 10px;
}

.m {
    width: 20px;
}

.l {
    width: 30px;
}

.xl {
    width: 40px;
}
