.profileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.editing {
    border-color: var(--inverted-primary-color);
}

.input,
.select {
    margin-top: 10px;
}

.loading,
.error {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatarWrapper {
    display: flex;
    justify-content: center;
}
